{{!-- ===== PURCHASE-INFO ================= --}}


<h1>Order information </h1>



{{!-- // ======================================== --}}
{{#if isEmpty}}
<p>{{emptyInfo}}</p>
{{/if}}

{{!-- =========================================== --}}
<div class="list">

  <div class="pCard">

    {{#with purchase}}

    <div class="item">
      <span>ID {{id}}</span>
    </div>

    <div class="item">
      <span>Name {{firstname}}</span>
      <span>Surname {{surname}}</span>
      <span>Phone {{phone}}</span>
      <span>email {{email}}</span>
    </div>

    <div class="item">
      <span class="double">Product {{product.name}}</span>
      <span class="double">Comment {{comment}}</span>
    </div>

    <div class="item">
      <span>Total price {{productPrice}} ₴</span>
      <span>Delivery {{deliveryPrice}} ₴</span>
      <span>To pay {{totalPrice}} ₴</span>
      <span>Added bonuses {{bonus}}</span>
    </div>

    {{/with}}

    <div class="btn-block">
      <a href="/purchase-edit?id={{id}}">Change details</a>
      <a href="/purchase-list">To purchase list</a>
    </div>


  </div>